<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/basic.html}">

<th:block layout:fragment="css">
  <style>
      @import url("/CSS/detailList.css");
  </style>
</th:block>

<div layout:fragment="content">
  <div id="detailList-wrap">
    <input type="hidden" name="kind" th:value="${kind}"/>
    <div class="kindInfo-wrap">
      <div class="detailFont kindName">
        <span th:if="${kindInfo}!=null" th:text="${kindInfo.getName()}"></span>
        <span th:if="${kindInfo}==null" th:text="${tasteTag.getContent()}"></span>
      </div>
      <div class="detailFont kindContent">
        <span class="kindContentSpan" th:if="${kindInfo}!=null" th:value="${kindInfo.getContent()}"></span>
      </div>
    </div>
    <div class="simpleDetail-wrap" th:each="detail : ${detailList}" th:if="${detailStat.index} <= 7">
      <div class="detailImg-wrap simpleDetail" >
        <img class="detailImg" th:src="'/Detail/'+${detail.getDid()}+'.png'" th:name="${detail.getDid()}"/>
      </div>
      <span class="detailFont simpleDetail" th:text="${detail.getName()}" th:name="${detail.getDid()}"></span>
    </div>
  </div>
</div>

<script layout:fragment="script">
  let nowpage = 1;
	let kind = $('input[name=kind]').val();

	$(document).ready(function (){
		$('.kindContentSpan').append($('.kindContentSpan').attr('value'));
  })

  $(document).on('click','.simpleDetail', function (e){
		let itemNum = $(e.target).attr('name');
    location.href = "/detailInfo/"+itemNum;
  })

  $(window).scroll(function (){
		let nowHeight = $(window).scrollTop();
		let lastHeight = $(document).height()-$(window).height();

		if(nowHeight == lastHeight){
			nowpage++;

			let startP = (nowpage-1)*8;
			let endP = (nowpage*8)-1;
			$.ajax({
        url:"/detailPaging",
        data:{"kind":kind},
        dataType:"JSON",
        type:"post",
        success:function (e){
					endP = e.length < endP? e.length:endP;
					let currentItem = $('.simpleDetail-wrap').length;
					let result = "";

					if(currentItem == e.length){
						//alert("마지막")
						result += "<div class='lastDetail'><span>마지막 상품입니다.</span></div>"
            $(window).off('scroll');
          }else{
            for (let i = startP; i < endP; i++) {
							let eDid = Number(e[i].did);
              result += "<div class='simpleDetail-wrap'><div class='detailImg-wrap simpleDetail'><img class='detailImg' src=\"/Detail/"+e[i].did+".png\" name='"+eDid+"' /></div><span class='detailFont simpleDetail' name='"+eDid+"'>"+e[i].name+"</span></div>"
            }
          }
            $('#detailList-wrap').append(result);
        }
      })
    }
  })

</script>