<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/layout/basic}">

        <!--웹페이지 컨텐츠영역-->
        <div id="content-wrapper" layout:fragment="content">
            <div id="koreaMap-wrapper">
                <div id="koreaMap">
                    <span type="button" class="koreaMapArea seoul font" value="seoul" name="o1">서울</span>
                    <span type="button" class="koreaMapArea incheon font" value="incheon" name="o2">인천</span>
                    <span type="button" class="koreaMapArea gyeonggi font" value="gyeonggi" name="o3">경기</span>
                    <span type="button" class="koreaMapArea gangwon font" value="gangwon" name="o4">강원</span>
                    <span type="button" class="koreaMapArea chungbuk font" value="chungbuk" name="o5">충북</span>
                    <span type="button" class="koreaMapArea chungnam font" value="chungnam" name="o6">충남</span>
                    <span type="button" class="koreaMapArea jeonbuk font" value="jeonbuk" name="o7">전북</span>
                    <span type="button" class="koreaMapArea jeonnam font" value="jeonnam" name="o8">전남</span>
                    <span type="button" class="koreaMapArea kyungbuk font" value="kyungbuk" name="o9">경북</span>
                    <span type="button" class="koreaMapArea kyungnam font" value="kyungnam" name="o10">경남</span>
                    <span type="button" class="koreaMapArea busan font" value="busan" name="o11">부산</span>
                    <span type="button" class="koreaMapArea jeju font" value="jeju" name="o12">제주</span>
                </div>
            </div>
            <div id="itemImgs-wrapper">
                <div id="itemImgsList-wrapper">
                    <div th:each="detail : ${detailList}"class="slide-img" th:value="${detail.getDid()}">
                      <div class="itemImg" th:value="'/Detail/'+${detail.getDid()}+'.png'"></div>
                        <span th:text="${detail.getName()}"></span>
                    </div>
                </div>
                <span class="listDetail font">자세히 보기</span>
                <span class="material-symbols-outlined font fa-hexagon">hexagon</span>

            </div>
        </div>

    <script layout:fragment="script">
        $(document).ready(function(){
					$('.itemImg').each(function(){
						$(this).css({"background":"url("+$(this).attr('value')+") center"});

          })
        })

        const bigImgWrapper = document.querySelector('#itemImgs-wrapper')
        const bigListWrapper = document.querySelector('#itemImgsList-wrapper')
        let bigImgCurrentIdx = 0;

        bigImgWrapper.onmousedown = (e) =>{
            const bigItem = document.querySelectorAll('.slide-img');
            const bigItemCount = bigItem.length;

            let bigImgStartX = 0;
            let bigImgMoveX = 0;



            const rect = bigImgWrapper.getBoundingClientRect();
            //console.log(rect.x) //itemsimgs-wrapper의 위치값
            //console.log(e.clientX) //현재 창에서의 내가 마우스클릭시에 위치값
            bigImgStartX = e.clientX - rect.left; //itemsimgs-wrapper내의 내가 누르는 가로 위치값
            //console.log(bigImgStartX)
            bigImgWrapper.addEventListener("mousemove",onMouseMove);

            document.onmouseup =() => {
                bigImgWrapper.removeEventListener('mousemove',onMouseMove);
                document.onmouseup = null;

                if(bigImgMoveX > -70 && bigImgMoveX < 70){
                    bigListWrapper.style.left = (bigImgCurrentIdx*-320) + 'px';
                }
                if(bigImgMoveX < 0 && bigImgCurrentIdx < bigItemCount-1){
                    bigImgCurrentIdx++;
                    bigListWrapper.style.left = (bigImgCurrentIdx*-320) + 'px';
                }else{
                    bigListWrapper.style.left = (bigImgCurrentIdx*-320) + 'px';
                }
                if(bigImgMoveX > 0 && bigImgCurrentIdx > 0){
                    bigImgCurrentIdx--;
                    bigListWrapper.style.left = (bigImgCurrentIdx*-320) + 'px';
                }else{
                    bigListWrapper.style.left = (bigImgCurrentIdx*-320) + 'px';
                }
            }


            function onMouseMove(e) {
                const rect = bigImgWrapper.getBoundingClientRect();
                bigImgMoveX = e.clientX - rect.left - bigImgStartX;
                //console.log(bigImgMoveX); //마우스의 움직임을 알기위하여 맨처음 찍은 마우스의 위치값인 startX를 뺌
                if(bigImgCurrentIdx == 0 && bigImgMoveX>0){
                    return
                }
                else if(bigImgCurrentIdx == bigItemCount-1 && bigImgMoveX<0){
                    return
                }
                let left = window.getComputedStyle(bigListWrapper).getPropertyValue('left');
                left = left.replace('px','');
                let result = Number(left)+bigImgMoveX;
                bigListWrapper.style.left = result + 'px';
            }
        }



      $('.koreaMapArea').on('click',function(){
				let origin = $(this).attr('name');
				location.href = "/detailList/"+origin;
      })

      $('.listDetail').click(function(){
				location.href="/detailInfo/"+$('.slide-img').eq(bigImgCurrentIdx).attr('value');
      })


    </script>
</html>